* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body는 선택자, background-color는 속성 */
body {
  background-color: white;
  /* color: #333; */
  font-size: medium;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  /* background-color: yellow; */
  padding: 0 14px;
}

.main {
  color: black;
  line-height: 2.5;
}

.navbar {
  background-color: #94b0da;
  color: white;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #3e5b9d;
  text-decoration: none;
}

.nav a {
  color: #3e5b9d;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav a:hover {
  border-bottom: 3px #3e5b9d solid;
  /* color: #aaa; */
}

button {
  background-color: #00120b;
  color: #31e981;
  /* border: none; */
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: large;
  font-weight: bold;
  border-width: 0;
  border-radius: 5px;
}

button:hover {
  color: #00120b;
  background-color: #31e981;
}

#time {
  font-weight: bold;
  /* color: brown; */
}
